body{
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin: 0px;
    background-color:beige;
}
.nav{
    display: flex;
    justify-content:space-evenly;
    width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 20px;
    z-index: 5;
}
.nav img{
    border-radius: 400px;
    mix-blend-mode:color-burn;
    height: 70px;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    display: inline-block;
    margin-right: 50px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    position: relative;
}
.nav ul li a:hover{
	color:black;
}
.nav ul li a:after{
	content: " ";
	position: absolute;
	left: 0;
	width: 0;
	height: 3px;
	background: black;
	transition: 0.3s;
	bottom: 0;
}
.nav ul li a:hover:after{
	width: 100%;
}
.nav button{
    background-color: rgb(211, 18, 18);
}
.nav i{
    color:black;
    display: none;
}
button{
    padding: 20px 40px;
     background-color: black;
     color: whitesmoke;
     border: 0.5px solid black;
 }
 button:hover{
     background:transparent;
     color: black;
     transition:0.4s;
 }

 .section1{
    margin-top: 60px;
    height: 450px;
    padding-top: 0px;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.section1 article{
    line-height: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.section1 article ul li{
    list-style: disc;
}
.gallery{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.gImages {
   max-width:600px;
   margin: auto;
   overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slides img {
    height: 500px;
    width: 100%;
    display: block;
}
.prev {
    left: 10px;
}

.next {
    right: 10px;
}

footer{
    position:relative;
    bottom: -40px;
    background-color:whitesmoke;
    padding-bottom: 40px;
}
footer hr{
    width: 80%;
}
footer h4{
    text-align: center;
}
.footer a{
    color: black;
}

footer img{
    border-radius: 400px;
}
.footer{
    display:flex;
    justify-content: space-evenly;
}
.fhero{
    width:33.333333%;
}
.icons{
    width:33.333333%;
}
.icons i{
    font-size: 25px;
}
.footer .aside{
    text-align: center;
}
.footer .aside a{
    display: block;
    margin-top: 5px;
    text-decoration: none;
}
.sidebar{
    background-color:  rgba(255, 255, 255, 0.775);
    backdrop-filter:blur(70px);
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index:97;
    left: 60%;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}
.sidebar.visible {
    visibility: visible;
    transform: translateX(0);
}
.sidebar ul{
    list-style: none;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sidebar ul li{
    width: 100%;
}
.sidebar ul li a{
    text-decoration: none;
    color:Black;
    position: relative;
    width: 100%;
}
.sidebar ul li a:hover{
	color:black;
}
.sidebar ul li a:after{
	content: " ";
	position: absolute;
	left: 0;
	width: 0;
	height: 3px;
	background: black;
	transition: 0.3s;
	bottom: 0;
}
.sidebar ul li a:hover:after{
	width: 100%;
}
.sidebar button{
    background-color: rgb(211, 18, 18);
    width: 100%;
}
.sidebar button:hover{
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .nav{
        justify-content: space-between;
    }
	.nav ul,.nav button{
        display:none;
    }
    .nav img{
        height: 50px;
    }
    .nav .fa-solid.fa-bars{
        display: block;
        margin-left: 250px;
    }
    .section1{
        margin-top: 20px;
    }
    .section1 article{
        width: 100%;

    }
    .section1 article h3{
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin-bottom: -12px;
    }
    .section1 article ul li{
        list-style: disc;
        font-size: 0.94em;
        margin-left: -20px;
        line-height: 1.5em;
        margin-bottom: 10px;
        
    }
    .section1 .slider{
        height: 300px;
        width: 100%;
    }
    .section1 img{
        height: 300px;
        width: 100%;
    }
    .gallery{
        width: 90%;
        margin-top: 300px;
        line-height: 0.5em;
    }
    .gallery h1 , h2{
        font-size:1.2em;

    }
    .gImages{
       width: 100%;
    }
    .slides img{
        height: 400px;
    }
    footer{
        top: 50px;
    }
    .fhero img{
        height: 60px;
    }
    .fhero p{
        font-size: 10px;
    }
    .icons h3{
        font-size: 0.8em;
    }
    .aside{
        font-size: 0.8em;
    }
    footer h4{
        font-size: 0.8em;
    }
}

@media screen and (min-width: 600px) and (max-width:900px) {
    .nav{
        justify-content: space-between;
    }
	.nav ul,.nav button{
        display:none;
    }
    .nav .fa-solid.fa-bars{
        display: block;
        margin-left: 450px;
    }
    .section1{
        top: 100px;
    }
    .section1 article{
        width: 100%;
        
    }
    .section1 article ul li{
        max-width: 900px;
        line-height: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    footer{
        bottom: -50px;
    }
    .gallery{
        margin-top: 70px;
    }

    

}
@media screen and (min-width: 900px) and (max-width:1024px) {
    .gallery{
        margin-top: 70px;
    }
}