*{
    margin: 0px;
    padding: 0px;
}

input{
    display: block;
    margin-top:20px;
    padding: 8px;
    border-radius: 300px;
    border: 1.5px solid black;
}
button{
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: rgb(211, 18, 18);
    border: none;
    border-radius: 300px;
}
 form{
    text-align: center;
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
 }
 .input{
    max-width:350px ;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(20px);
    background-color: rgba(240, 248, 255, 0.706);
    margin-top: 20px;
 }
 button:hover{
    background:transparent;
    color: black;
    border: 2px solid black;
    transition:0.4s ease-in-out;
}